@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color: skyblue;
}

.counter{
    text-align: center;
    margin-top: 100px;

}

.counter div{
    display: inline-block;
    font-size: 75px;
    line-height: 80px;
    background-color: navy;
    color: turquoise;
    padding: 50px;
}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
